<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" th:src="@{js/calendar.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{style/style.css}"/>
  <style type="text/css">
  	#content p{
  	  text-align: center;
  	  margin-top: 20px;
  	}	  
	  
  </style>
  <title>预定客房</title>
</head>
<body>
<div id="container">
  <div id="header">
    <ul>
      <li><a href="#">帮助</a></li>
    </ul>
  </div>
  <div id="menu">
    <ul>
      <li><a th:href="@{index.html}">首页</a></li>
      <li><a th:href="@{roomPrice.html}">设施与价格</a></li>
      <li><a th:href="@{memberCenter.html}">会员中心</a></li>
    </ul>
  </div>
  <div id="content">
    <p>恭喜你，注册成功，请<a th:href="@{login.html}">登录</a>。</p>
  </div>
  <hr />
  <div id="footer">
    <p>本系统为Java Web教学而设计，不得作为它用，版权所有Allan<br />联系方式：javamedia@live.cn</p>
  </div>
</div>
</body>
</html>